<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/images/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Add Vehicles Details</title>
</head>

<body class="bg-gray-900">
    <%- include('sidebar') %>
        <div class="w-full h-full flex items-center justify-center max-xl:justify-end">
            <div class="flex items-center justify-center flex-col py-10 px-5 w-[990px] max-[1071px]:ml-60">
                <h1 class="text-white font-poppins text-4xl underline font-medium text-center my-5 max-[880px]:text-2xl">Add Vehicles Details
                </h1>
                <p class="text-slate-300 font-noto text-base font-normal text-center w-3/5 mb-6">Add your vehicle's
                    details
                    carefully and details have to be correct so that we can verify the details of your vehicle and
                    process
                    further to create a qr code which can be use to verify your vehicle's details effortlessly. </p>
                <div class="border border-slate-400 flex flex-col rounded-xl border-indigo-5 py-12 px-12">
                    <h1 class="text-zinc-50 font-noto text-2xl font-medium text-left mb-5">Vehicle Details :-
                    </h1>
                    <form class="flex flex-col items-center justify-center" action="/addVehicleDetails" method="post">
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="owner name"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Owner Name</label>
                                <input type="text" id="ownerName" name="ownerName"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle Owner Name" required />
                            </div>
                            <div class="mb-5">
                                <label for="owner phone"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Owner Phone No.</label>
                                <input type="text" id="ownerPhone" name="ownerPhone"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle Owner Phone No" required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="vehicle no"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Vehicle No.</label>
                                <input type="text" id="vehicleNo" name="vehicleNo"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle Number" required />
                            </div>
                            <div class="mb-5">
                                <label for="engine no"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Engine No</label>
                                <input type="text" id="engineNo" name="engineNo"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle Engine Number" required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="brand"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Brand</label>
                                <input type="text" id="brand" name="brand"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle brand" required />
                            </div>
                            <div class="mb-5">
                                <label for="vehicle state"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Registered State</label>
                                <select name="state" id="state" name="state"
                                    class="outline-none h-12 rounded-md bg-gray-900 w-72 pl-3 pr-5 border-2 border-slate-600 text-slate-50 font-normal ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64">
                                    <option value="">Select State</option>
                                    <option value="AP">Andhra Pradesh</option>
                                    <option value="AR">Arunachal Pradesh</option>
                                    <option value="AS">Assam</option>
                                    <option value="BR">Bihar</option>
                                    <option value="CT">Chhattisgarh</option>
                                    <option value="GA">Gujarat</option>
                                    <option value="HR">Haryana</option>
                                    <option value="HP">Himachal Pradesh</option>
                                    <option value="JK">Jammu and Kashmir</option>
                                    <option value="GA">Goa</option>
                                    <option value="JH">Jharkhand</option>
                                    <option value="KA">Karnataka</option>
                                    <option value="KL">Kerala</option>
                                    <option value="MP">Madhya Pradesh</option>
                                    <option value="MH">Maharashtra</option>
                                    <option value="MN">Manipur</option>
                                    <option value="ML">Meghalaya</option>
                                    <option value="MZ">Mizoram</option>
                                    <option value="NL">Nagaland</option>
                                    <option value="OR">Odisha</option>
                                    <option value="PB">Punjab</option>
                                    <option value="RJ">Rajasthan</option>
                                    <option value="SK">Sikkim</option>
                                    <option value="TN">Tamil Nadu</option>
                                    <option value="TG">Telangana</option>
                                    <option value="TR">Tripura</option>
                                    <option value="UT">Uttarakhand</option>
                                    <option value="UP">Uttar Pradesh</option>
                                    <option value="WB">West Bengal</option>
                                    <option value="AN">Andaman and Nicobar Islands</option>
                                    <option value="CH">Chandigarh</option>
                                    <option value="DN">Dadra and Nagar Haveli</option>
                                    <option value="DD">Daman and Diu</option>
                                    <option value="DL">Delhi</option>
                                    <option value="LD">Lakshadweep</option>
                                    <option value="PY">Puducherry</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="driver name"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Driver Name</label>
                                <input type="text" id="driverName" name="driverName"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Driver Name" required />
                            </div>
                            <div class="mb-5">
                                <label for="driver no"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Driver Phone No</label>
                                <input type="text" id="driverPhone" name="driverPhone"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Driver Phone Number" required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="driver licence"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Driver Licence No</label>
                                <input type="text" id="driverLicence" name="driverLicence"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Driver Licence Number" required />
                            </div>
                            <div class="mb-5">
                                <label for="chasis no"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Chasis No</label>
                                <input type="text" id="chasisNo" name="chasisNo"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 uppercase placeholder:text-slate-300 text-base placeholder:capitalize max-[964px]:w-64"
                                    placeholder="Enter Vehicle Chasis Number" required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="permit"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Permit Valid Upto</label>
                                <input type="date" id="permitvalidUpto" name="permitvalidUpto"
                                    class="outline-none h-12 rounded-md bg-gray-900 w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                            <div class="mb-5">
                                <label for="registration"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Registration Upto</label>
                                <input type="date" id="registrationUpto" name="registrationUpto"
                                    class="outline-none h-12 rounded-md bg-gray-900 w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="tax"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Tax Paid Upto</label>
                                <input type="date" id="taxpaidUpto" name="taxpaidUpto"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                            <div class="mb-5">
                                <label for="insurance"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">
                                    Insurance Paid Upto</label>
                                <input type="date" id="insurancepaidUpto" name="insurancepaidUpto"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                        </div>
                        <div class="w-full p-2 flex items-center justify-center gap-10 max-[880px]:flex-col max-[880px]:gap-4">
                            <div class="mb-5">
                                <label for="pollution Certificate"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">Pollution
                                    Certificate Valid Upto</label>
                                <input type="date" id="pollutionUpto" name="pollutionUpto"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                            <div class="mb-5">
                                <label for="fitness Certificate"
                                    class="block mb-2 text-lg font-medium font-noto text-gray-900 dark:text-white max-[964px]:text-base">Vehicle Fit Upto</label>
                                <input type="date" id="fitUpto" name="fitUpto"
                                    class="outline-none h-12 rounded-md bg-transparent w-72 px-3 border-2 border-slate-600 text-slate-50 font-normal focus:border-slate-50 ease-linear transition-all duration-100 placeholder:text-slate-300 text-base max-[964px]:w-64"
                                    required />
                            </div>
                        </div>

                        <button type="submit"
                            class="px-6 py-3 outline-none bg-blue-700 text-white font-poppins mt-5 rounded-lg text-xl font-normal hover:bg-blue-900 hover:text-slate-50 transition-all ease-in-out duration-150 max-[990px]:text-base">Add Vehicle Details</button>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>