<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/images/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon_io/site.webmanifest">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Admin Dashboard</title>
</head>

<body class="bg-gray-900">
    <%- include('sidebar') %>
            <div class="w-full h-full flex items-center justify-center relative">
                <div class="w-full ml-48 flex items-start justify-start px-5 py-6 gap-2 overflow-hidden flex-col">
                    <h1 class="text-left text-slate-50 text-4xl font-poppins font-medium mt-2 ml-3 underline">Dashboard</h1>
                    <!-- <h1 class="text-left text-slate-50 text-4xl font-oswald font-bold my-5 ml-3">Hello, <%= admin.username  %>
                    </h1> -->
                </div>
            </div>
</body>

</html>