<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/images/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Guest Alert Page</title>
</head>
<body class="bg-slate-950">
    <div class="bg-hero bg-repeat w-full h-screen flex justify-center items-center">
        <div class="bg-slate-950 rounded-xl text-center flex flex-col items-center justify-center p-10 overflow-hidden drop-shadow-lg transition-all ease-in duration-200">
            <h2 class="text-red-50 text-3xl font-noto text-center mt-5 font-semibold underline">Guest Login Alert</h2>
            <h2 class="text-slate-50 text-2xl font-noto text-center p-5 font-light mt-3">This page is only for guest users. Guest users are not actual users so they can only see all the features of this website but has only limited access to features. They will be given a predefined set of data to perform some activites like generating QR Code and perform scanning of that code.</h2>
            <a href="/guestDashboard" class="mt-4 font-noto text-slate-200 font-normal text-lg transition-all ease-in-out duration-150 px-5 py-3 bg-green-500 rounded-md text-center hover:bg-green-800">Continue as Guest</a>
        </div>
    </div>

    <script src="../javascripts/login.js"></script>
</body>
</html>