<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Admin Login</title>
</head>

<body class="bg-slate-950">
    <div class="bg-hero bg-repeat w-full h-screen flex justify-center items-center">
        <div
            class="w-96 bg-slate-950 rounded-xl text-center flex flex-col items-center justify-center p-10 overflow-hidden drop-shadow-lg">
            <h2 class="text-slate-100 text-4xl font-noto text-center mt-5 font-semibold">Admin Login</h2>
            <p class="text-slate-400 font-medium text-base mt-5 font-noto">Login into your account to access payroll details</p>
            <form class="flex flex-col w-full items-center justify-center mt-5" method="post" action="/adminLogin">
                <input type="text" placeholder="Enter Your Username" autocomplete="off" name="username" required
                    id="username"
                    class="bg-transparent border border-slate-600 rounded-md h-12 pr-5 pl-4 mb-4 outline-none focus:border-slate-300 font-noto font-normal text-slate-100" />
                <input type="password" placeholder="Enter Your Password" autocomplete="off" name="password" required
                    id="password"
                    class="bg-transparent border border-slate-600 rounded-md h-12 pr-5 pl-4 mb-4 outline-none focus:border-slate-300 font-noto font-normal text-slate-100" />
                <button
                    class="bg-blue-500 border-none rounded-md mt-3 px-16 py-2 font-noto font-normal text-2xl cursor-pointer transition-all duration-200 ease-linear hover:bg-blue-800 text-slate-100"
                    type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>