<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-48 h-screen shadow-2xl shadow-slate-200/5" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-slate-950 w-full flex flex-col items-center justify-start relative">
        <h1 class="text-slate-50 text-2xl my-5 font-oswald font-semibold text-center">Vehicle Docs 360</h1>
        <img src="../images/vehicle docs logo.png" alt="profile image" class="size-12 bg-cover bg-center">
        <h3 class="text-white text-base mt-2 mb-5 font-noto font-semibold text-center">
            <%= admin.username %>
        </h3>
        <ul class="space-y-2 font-medium font-poppins text-lg">
            <li>
                <a href="/dashboard"
                    class="flex items-center p-3 text-slate-50 rounded-lg hover:bg-white hover:text-slate-950 group">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="27px" width="27px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill:#F77935;" d="M272.177,8.358V255.73c0,4.291-1.704,8.406-4.739,11.438L92.52,442.087  c43.641,38.315,100.843,61.554,163.48,61.554c136.917,0,247.912-110.994,247.912-247.912  C503.912,124.249,401.553,16.694,272.177,8.358z"/>
                        <path style="fill:#D9510D;" d="M272.177,8.358v4.247C385.854,35.168,471.558,135.426,471.558,255.73  c0,131.503-102.395,239.074-231.801,247.377c5.371,0.347,10.785,0.535,16.244,0.535c136.917,0,247.912-110.994,247.912-247.912  C503.912,124.249,401.553,16.694,272.177,8.358z"/>
                        <path style="fill:#FFDB56;" d="M239.823,249.03V8.358C110.447,16.694,8.088,124.249,8.088,255.73  c0,62.637,23.24,119.839,61.554,163.48L239.823,249.03z"/>
                        <path style="fill:#FBA806;" d="M207.469,12.605v268.779l32.354-32.354V8.358C228.826,9.066,218.03,10.508,207.469,12.605z"/>
                        <path d="M247.912,249.03V8.358c0-2.236-0.925-4.371-2.556-5.9c-1.631-1.529-3.822-2.311-6.052-2.171  c-55.81,3.596-107.752,24.809-150.211,61.345c-3.386,2.914-3.769,8.021-0.855,11.407c2.913,3.385,8.021,3.768,11.407,0.855  c37.581-32.339,83.091-51.862,132.091-56.757V245.68L70.137,407.278c-34.86-42.716-53.96-96.19-53.96-151.548  c0-61.358,23.157-119.734,65.204-164.376c3.063-3.252,2.91-8.371-0.342-11.433c-3.253-3.063-8.371-2.91-11.434,0.342  C24.719,127.917,0,190.233,0,255.73c0,62.173,22.574,122.127,63.563,168.817c1.475,1.68,3.58,2.675,5.816,2.748  c0.087,0.003,0.175,0.004,0.262,0.004c2.142,0,4.201-0.85,5.719-2.369l170.18-170.18C247.06,253.232,247.912,251.175,247.912,249.03  z"/>
                        <path d="M442.45,80.32C397.798,32.886,337.512,4.462,272.697,0.287c-2.239-0.145-4.423,0.642-6.052,2.171  c-1.631,1.529-2.556,3.665-2.556,5.9V255.73c0,2.16-0.841,4.192-2.369,5.719l-62.192,62.192c-3.159,3.159-3.159,8.28,0,11.439  c3.159,3.16,8.28,3.159,11.439,0l62.191-62.191c4.583-4.582,7.108-10.676,7.108-17.159V17.139  c57.426,5.769,110.557,31.938,150.405,74.269c42.015,44.634,65.153,102.991,65.153,164.322c0,64.059-24.946,124.284-70.242,169.581  S320.06,495.553,256,495.553c-55.357,0-108.832-19.1-151.548-53.96l88.304-88.306c3.159-3.159,3.159-8.28,0-11.438  c-3.159-3.159-8.28-3.159-11.438,0L86.8,436.368c-1.581,1.581-2.437,3.747-2.365,5.981c0.072,2.236,1.068,4.341,2.748,5.816  c46.69,40.99,106.644,63.565,168.817,63.565c68.38,0,132.667-26.628,181.02-74.98C485.372,388.398,512,324.111,512,255.73  C512,190.262,487.3,127.968,442.45,80.32z"/>
                        </svg>
                    <span class="ms-3 capitalize text-sm">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/allvehicles"
                    class="flex items-center p-3 text-slate-50 rounded-lg hover:bg-white hover:text-slate-950 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 48 48" fill="none">
                        <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                        <rect x="8" y="4" width="32" height="40" rx="2" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round"/>
                        <path d="M21 14H33" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 24H33" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 34H33" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 16C16.1046 16 17 15.1046 17 14C17 12.8954 16.1046 12 15 12C13.8954 12 13 12.8954 13 14C13 15.1046 13.8954 16 15 16Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 26C16.1046 26 17 25.1046 17 24C17 22.8954 16.1046 22 15 22C13.8954 22 13 22.8954 13 24C13 25.1046 13.8954 26 15 26Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 36C16.1046 36 17 35.1046 17 34C17 32.8954 16.1046 32 15 32C13.8954 32 13 32.8954 13 34C13 35.1046 13.8954 36 15 36Z" fill="white"/>
                        </svg>
                    <span class="ms-3 capitalize text-sm">Vehicle Docs</span>
                </a>
            </li>
            <li>
                <a href="/add_vehicles"
                    class="flex items-center p-3 text-slate-50 rounded-lg hover:bg-white hover:text-slate-950 group">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" viewBox="0 0 511.995 511.995" xml:space="preserve">
                        <polygon style="fill:#E6E9ED;" points="330.669,341.932 330.779,149.819 441.401,149.725 481.12,228.942 501.323,269.332   501.135,341.932 "/>
                        <polygon style="fill:#4FC2E9;" points="478.84,224.379 441.401,149.725 330.779,149.819 330.732,224.379 "/>
                        <path style="fill:#E6E9ED;" d="M490.651,224.161l-42.672-85.107l-127.857,0.109l-0.141,213.441h191.794l0.219-85.787  L490.651,224.161z M490.495,331.275H341.341l0.094-170.801l93.373-0.078l36.766,73.311l19.078,38.124L490.495,331.275z"/>
                        <rect x="362.517" y="160.438" style="fill:#3BAFDA;" width="21.328" height="63.936"/>
                        <path style="fill:#FC6E51;" d="M336.466,118.444c-3.031-1.968-6.844-2.265-10.141-0.812l-93.935,41.749H10.669  c-3.367,0-6.547,1.594-8.555,4.297c-2.016,2.703-2.633,6.203-1.664,9.437l29.632,124.943l-8.602,41.14  c-0.516,3.078,0.359,6.25,2.383,8.641c2.031,2.391,5,3.766,8.141,3.766h298.65c5.891,0,10.672-4.781,10.672-10.672v-213.55  C341.326,123.772,339.497,120.413,336.466,118.444z"/>
                        <path style="fill:#CCD1D9;" d="M30.082,298.058l-8.602,41.968c-0.516,3.141,0.359,6.359,2.383,8.797  c2.023,2.422,5,3.828,8.141,3.828l309.275-0.047v-54.546H30.082z"/>
                        <g>
                            <path style="fill:#434A54;" d="M394.652,288.604c-29.452,0-53.327,23.874-53.327,53.327c0,29.452,23.875,53.343,53.327,53.343   s53.327-23.891,53.327-53.343C447.979,312.478,424.104,288.604,394.652,288.604z"/>
                            <path style="fill:#434A54;" d="M181.329,288.604c-17.453,0-32.937,8.375-42.671,21.327c-9.727-12.952-25.21-21.327-42.664-21.327   c-29.453,0-53.327,23.874-53.327,53.327c0,29.452,23.875,53.343,53.327,53.343c17.453,0,32.937-8.391,42.664-21.344   c9.734,12.953,25.218,21.344,42.671,21.344c29.453,0,53.327-23.891,53.327-53.343C234.656,312.478,210.781,288.604,181.329,288.604   z"/>
                        </g>
                        <g>
                            <path style="fill:#F5F7FA;" d="M383.982,341.932c0,5.891,4.781,10.672,10.671,10.672c5.891,0,10.672-4.781,10.672-10.672   s-4.781-10.656-10.672-10.656C388.763,331.275,383.982,336.041,383.982,341.932z"/>
                            <path style="fill:#F5F7FA;" d="M85.331,341.932c0,5.891,4.773,10.672,10.664,10.672s10.672-4.781,10.672-10.672   s-4.781-10.656-10.672-10.656S85.331,336.041,85.331,341.932z"/>
                            <path style="fill:#F5F7FA;" d="M170.658,341.932c0,5.891,4.781,10.672,10.672,10.672s10.664-4.781,10.664-10.672   s-4.773-10.656-10.664-10.656S170.658,336.041,170.658,341.932z"/>
                        </g>
                        <path style="fill:#E9573F;" d="M277.327,235.051H85.331c-5.891,0-10.664-4.781-10.664-10.672c0-5.89,4.773-10.671,10.664-10.671  h191.997c5.891,0,10.672,4.781,10.672,10.671C288,230.27,283.219,235.051,277.327,235.051z"/>
                        </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap capitalize text-sm">Add Vehicle</span>
                </a>
            </li>
            <li>
                <a href="/update_vehicles"
                    class="flex items-center p-3 text-slate-50 rounded-lg hover:bg-white hover:text-slate-950 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 48 48" fill="none">
                        <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                        <path d="M48 0H0V48H48V0Z" fill="white" fill-opacity="0.01"/>
                        <path d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.5424 27C32.2681 31.0571 28.4778 34 24.0002 34C19.5226 34 15.7323 31.0571 14.458 27V33" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.5424 15V21C32.2681 16.9429 28.4778 14 24.0002 14C19.5226 14 15.7323 16.9429 14.458 21" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap capitalize text-sm">Update docs</span>
                </a>
            </li>
        </ul>
        <a href="/adminLogout" class="flex items-center gap-2 absolute bottom-5 left-5 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30px" width="30px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
            <polygon style="fill:#F4B2B0;" points="13.809,256 154.436,337.19 154.436,174.809 "/>
            <path style="fill:#B3404A;" d="M273.19,203.873H168.245v-29.064c0-4.934-2.632-9.492-6.904-11.958  c-4.272-2.466-9.536-2.466-13.809,0L6.904,244.04C2.632,246.507,0,251.065,0,255.999s2.632,9.492,6.904,11.958l140.628,81.191  c2.136,1.233,4.52,1.85,6.904,1.85s4.768-0.617,6.904-1.85c4.272-2.466,6.904-7.024,6.904-11.958v-29.064H273.19  c7.625,0,13.809-6.182,13.809-13.809V217.68C286.998,210.055,280.815,203.873,273.19,203.873z M140.628,313.274L41.426,256  l99.202-57.275v18.956v76.637V313.274z M259.381,280.51h-91.136v-49.02h91.136V280.51z"/>
            <path style="fill:#F4B2B0;" d="M323.513,113.414v285.17c59.418-20.133,102.183-76.365,102.183-142.586  S382.932,133.547,323.513,113.414z"/>
            <g>
                <path style="fill:#B3404A;" d="M323.515,412.393c-2.85,0-5.67-0.882-8.048-2.586c-3.616-2.593-5.762-6.772-5.762-11.222v-285.17   c0-4.45,2.146-8.629,5.762-11.222c3.615-2.592,8.262-3.284,12.477-1.856C394.672,122.948,439.505,185.503,439.505,256   s-44.834,133.052-111.561,155.664C326.499,412.152,325.002,412.393,323.515,412.393z M337.322,134.178V377.82   c45.286-23.071,74.566-69.852,74.566-121.822S382.608,157.25,337.322,134.178z"/>
                <path style="fill:#B3404A;" d="M275.184,492.816c-78.997,0-152.51-39.19-196.65-104.834c-4.254-6.328-2.574-14.909,3.755-19.163   c6.328-4.257,14.909-2.575,19.165,3.753c38.999,58,103.945,92.628,173.731,92.628c115.352,0,209.199-93.846,209.199-209.199   S390.536,46.801,275.184,46.801c-69.786,0-134.731,34.628-173.731,92.628c-4.256,6.328-12.838,8.009-19.165,3.753   c-6.328-4.256-8.009-12.835-3.755-19.163c44.14-65.644,117.654-104.834,196.65-104.834C405.764,19.184,512,125.42,512,256   S405.765,492.816,275.184,492.816z"/>
            </g>
            </svg><h5 class="text-red-500 text-xl font-noto font-normal">Logout</h5></a>
    </div>
</aside>